<app-header></app-header>
<main>
  
  <!-- @if(SelectedUser){ -->
  <!-- <app-tasks
    *ngIf="SelectedUser; else fallback"
    [name]="SelectedUser!.name"
    [avatar]="SelectedUser!.avatar"
    [userId]="SelectedUser!.id"
  ></app-tasks> -->
  <!-- }@else { -->
  <!-- <ng-template #fallback> -->
    <!-- <p id="fallback">Please select the user</p> -->
    <!-- } -->
  <!-- </ng-template> -->
<section id="users">
    <app-user></app-user>
  </section>

  <section id="tasks">
    <router-outlet></router-outlet>
  </section>
</main>

