<app-header></app-header>
<main>
  <ul id="user" style="list-style: none">
    <li>
      <app-user
        [user]="user[0]"
        (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
        [user]="user[1]"
        (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
        [user]="user[2]"
        (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
        [user]="user[3]"
        (select)="onSelectUser($event)"
      />
    </li>
  </ul>
  <app-task [name]="SelectedUser.name" [avatar]="SelectedUser.avatar"></app-task>
</main>

<router-outlet />
